/** skill scss **/
/* The Grid ---------------------- */
/* line 4, ../sass/skill.scss */
.lt-ie9 .row {
  width: 940px;
  max-width: 100%;
  min-width: 768px;
  margin: 0 auto;
}

/* line 5, ../sass/skill.scss */
.lt-ie9 .row .row {
  width: auto;
  max-width: none;
  min-width: 0;
  margin: 0 -15px;
}

/* line 7, ../sass/skill.scss */
.lt-ie9 .row.large-collapse .column,
.lt-ie9 .row.large-collapse .columns {
  padding: 0;
}

/* line 8, ../sass/skill.scss */
.lt-ie9 .row .row {
  width: auto;
  max-width: none;
  min-width: 0;
  margin: 0 -15px;
}

/* line 9, ../sass/skill.scss */
.lt-ie9 .row .row.large-collapse {
  margin: 0;
}

/* line 11, ../sass/skill.scss */
.lt-ie9 .column, .lt-ie9 .columns {
  float: left;
  min-height: 1px;
  padding: 0 15px;
  position: relative;
}

/* line 12, ../sass/skill.scss */
.lt-ie9 .column.large-centered, .columns.large-centered {
  float: none;
  margin: 0 auto;
}

/* line 14, ../sass/skill.scss */
.lt-ie9 [class*="column"] + [class*="column"]:last-child {
  float: right;
}

/* line 15, ../sass/skill.scss */
.lt-ie9 [class*="column"] + [class*="column"].end {
  float: left;
}

/* line 18, ../sass/skill.scss */
.lt-ie9 .large-1,
.lt-ie9 .row .large-1 {
  width: 8.33333%;
}

/* line 21, ../sass/skill.scss */
.lt-ie9 .large-2,
.lt-ie9 .row .large-2 {
  width: 16.66667%;
}

/* line 24, ../sass/skill.scss */
.lt-ie9 .large-3,
.lt-ie9 .row .large-3 {
  width: 25%;
}

/* line 27, ../sass/skill.scss */
.lt-ie9 .large-4,
.lt-ie9 .row .large-4 {
  width: 33.33333%;
}

/* line 30, ../sass/skill.scss */
.lt-ie9 .large-5,
.lt-ie9 .row .large-5 {
  width: 41.66667%;
}

/* line 33, ../sass/skill.scss */
.lt-ie9 .large-6,
.lt-ie9 .row .large-6 {
  width: 50%;
}

/* line 36, ../sass/skill.scss */
.lt-ie9 .large-7,
.lt-ie9 .row .large-7 {
  width: 58.33333%;
}

/* line 39, ../sass/skill.scss */
.lt-ie9 .large-8,
.lt-ie9 .row .large-8 {
  width: 66.66667%;
}

/* line 42, ../sass/skill.scss */
.lt-ie9 .large-9,
.lt-ie9 .row .large-9 {
  width: 75%;
}

/* line 45, ../sass/skill.scss */
.lt-ie9 .large-10,
.lt-ie9 .row .large-10 {
  width: 83.33333%;
}

/* line 48, ../sass/skill.scss */
.lt-ie9 .large-11,
.lt-ie9 .row .large-11 {
  width: 91.66667%;
}

/* line 51, ../sass/skill.scss */
.lt-ie9 .large-12,
.lt-ie9 .row .large-12 {
  width: 100%;
}

/* line 53, ../sass/skill.scss */
.lt-ie9 .row .large-offset-1 {
  margin-left: 8.33333%;
}

/* line 54, ../sass/skill.scss */
.lt-ie9 .row .large-offset-2 {
  margin-left: 16.66667%;
}

/* line 55, ../sass/skill.scss */
.lt-ie9 .row .large-offset-3 {
  margin-left: 25%;
}

/* line 56, ../sass/skill.scss */
.lt-ie9 .row .large-offset-4 {
  margin-left: 33.33333%;
}

/* line 57, ../sass/skill.scss */
.lt-ie9 .row .large-offset-5 {
  margin-left: 41.66667%;
}

/* line 58, ../sass/skill.scss */
.lt-ie9 .row .large-offset-6 {
  margin-left: 50%;
}

/* line 59, ../sass/skill.scss */
.lt-ie9 .row .large-offset-7 {
  margin-left: 58.33333%;
}

/* line 60, ../sass/skill.scss */
.lt-ie9 .row .large-offset-8 {
  margin-left: 66.66667%;
}

/* line 61, ../sass/skill.scss */
.lt-ie9 .row .large-offset-9 {
  margin-left: 75%;
}

/* line 62, ../sass/skill.scss */
.lt-ie9 .row .large-offset-10 {
  margin-left: 83.33333%;
}

/* line 64, ../sass/skill.scss */
.lt-ie9 .pull-2 {
  right: 16.66667%;
}

/* line 65, ../sass/skill.scss */
.lt-ie9 .pull-3 {
  right: 25%;
}

/* line 66, ../sass/skill.scss */
.lt-ie9 .pull-4 {
  right: 33.33333%;
}

/* line 67, ../sass/skill.scss */
.lt-ie9 .pull-5 {
  right: 41.66667%;
}

/* line 68, ../sass/skill.scss */
.lt-ie9 .pull-6 {
  right: 50%;
}

/* line 69, ../sass/skill.scss */
.lt-ie9 .pull-7 {
  right: 58.33333%;
}

/* line 70, ../sass/skill.scss */
.lt-ie9 .pull-8 {
  right: 66.66667%;
}

/* line 71, ../sass/skill.scss */
.lt-ie9 .pull-9 {
  right: 75%;
}

/* line 72, ../sass/skill.scss */
.lt-ie9 .pull-10 {
  right: 83.33333%;
}

/* line 74, ../sass/skill.scss */
.lt-ie9 .push-2 {
  left: 16.66667%;
}

/* line 75, ../sass/skill.scss */
.lt-ie9 .push-3 {
  left: 25%;
}

/* line 76, ../sass/skill.scss */
.lt-ie9 .push-4 {
  left: 33.33333%;
}

/* line 77, ../sass/skill.scss */
.lt-ie9 .push-5 {
  left: 41.66667%;
}

/* line 78, ../sass/skill.scss */
.lt-ie9 .push-6 {
  left: 50%;
}

/* line 79, ../sass/skill.scss */
.lt-ie9 .push-7 {
  left: 58.33333%;
}

/* line 80, ../sass/skill.scss */
.lt-ie9 .push-8 {
  left: 66.66667%;
}

/* line 81, ../sass/skill.scss */
.lt-ie9 .push-9 {
  left: 75%;
}

/* line 82, ../sass/skill.scss */
.lt-ie9 .push-10 {
  left: 83.33333%;
}

/* Nicolas Gallagher's micro clearfix */
/* line 85, ../sass/skill.scss */
.lt-ie9 .row {
  *zoom: 1;
}

/* line 86, ../sass/skill.scss */
.lt-ie9 .row:before, .row:after {
  content: " ";
  display: table;
}

/* line 87, ../sass/skill.scss */
.lt-ie9 .row:after {
  clear: both;
}

/* line 90, ../sass/skill.scss */
body {
  background-color: black;
  font-family: 'helvetica-neue', helvetica, sans-serif;
}

/* line 95, ../sass/skill.scss */
.orbit-bullets {
  margin: 10px auto;
  display: block;
  width: 90px;
  margin-top: -30px;
  top: auto;
  height: 12px;
  left: 50%;
  margin-left: -35px;
  z-index: 9999;
}
/* line 106, ../sass/skill.scss */
.orbit-bullets li {
  height: 9px;
  width: 9px;
  background-color: white;
  border: none;
  -moz-box-shadow: 0px 1px 3px 0px #000000;
  -webkit-box-shadow: 0px 1px 3px 0px #000000;
  box-shadow: 0px 1px 3px 0px #000000;
  margin-right: 8px;
}
/* line 116, ../sass/skill.scss */
.orbit-bullets li.active {
  background: #d58d21;
  /* Old browsers */
  background: -moz-linear-gradient(top, #d58d21 0%, #b67007 100%);
  /* FF3.6+ */
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #d58d21), color-stop(100%, #b67007));
  /* Chrome,Safari4+ */
  background: -webkit-linear-gradient(top, #d58d21 0%, #b67007 100%);
  /* Chrome10+,Safari5.1+ */
  background: -o-linear-gradient(top, #d58d21 0%, #b67007 100%);
  /* Opera 11.10+ */
  background: -ms-linear-gradient(top, #d58d21 0%, #b67007 100%);
  /* IE10+ */
  background: linear-gradient(to bottom, #d58d21 0%, #b67007 100%);
  /* W3C */
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#d58d21', endColorstr='#b67007',GradientType=0 );
  /* IE6-9 */
}

/* line 129, ../sass/skill.scss */
.car_text {
  background: transparent url(../assets/images/opacity_60.png) top center repeat;
  height: 202px;
  display: block;
  position: absolute;
  z-index: 99;
  width: 728px;
  margin-top: -191px;
}
/* line 138, ../sass/skill.scss */
.car_text p {
  color: white;
  text-align: center;
  font-size: 14px;
  padding: 20px;
  font-weight: 100;
}

/* line 147, ../sass/skill.scss */
.rig_text {
  margin: 45px 0px 20px;
  float: right;
}

/* line 152, ../sass/skill.scss */
.orbit-container {
  height: 500px;
  overflow: hidden;
}

/* line 157, ../sass/skill.scss */
#competition {
  background: black url(../assets/images/background_fade.png) no-repeat top center;
  background-size: 100% 100%;
}
/* line 161, ../sass/skill.scss */
#competition .form_cont {
  padding: 0px;
}

/* line 166, ../sass/skill.scss */
.register_btn {
  position: absolute;
  z-index: 999;
  float: left;
  display: block;
  margin-top: 5%;
  margin-left: -85px;
}
/* line 174, ../sass/skill.scss */
.register_btn.skill {
  margin-top: 170px;
  float: none;
  margin-left: -246px;
  left: 50%;
}
/* line 180, ../sass/skill.scss */
.register_btn.skill.bundle {
  margin-top: 2%;
}

/**form **/
/* line 188, ../sass/skill.scss */
fieldset {
  border: 1px solid #965c0f;
  border-radius: 3px;
  background-color: #0F0F0F;
  color: white;
}
/* line 194, ../sass/skill.scss */
fieldset label {
  font-weight: 300;
  color: white;
  padding-bottom: 10px;
}
/* line 200, ../sass/skill.scss */
fieldset input[type="text"] {
  background-color: #ABABAB;
  border: 1px solid #ababab;
}
/* line 206, ../sass/skill.scss */
fieldset .button {
  background-image: url(../assets/images/button.png);
  width: 256px;
  height: 54px;
  display: block;
  border: none;
  -moz-box-shadow: 0px 1px 3px 0px #000000;
  -webkit-box-shadow: 0px 1px 3px 0px #000000;
  box-shadow: 0px 1px 3px 0px #000000;
  font-size: 0px;
  line-height: 0px;
  margin: 20px auto;
}

/**end form**/
/**prizing boxes**/
/* line 225, ../sass/skill.scss */
.forge_cont {
  border: 1px solid #965c0f;
  border-radius: 3px;
  height: 132px;
  margin: 20px 0px;
}
/* line 231, ../sass/skill.scss */
.forge_cont.pc {
  background: transparent url(../assets/images/pattern.png) top center repeat;
  -moz-box-shadow: inset 0px 0px 20px 0px #83581b;
  -webkit-box-shadow: inset 0px 0px 20px 0px #83581b;
  box-shadow: inset 0px 0px 20px 0px #83581b;
}
/* line 238, ../sass/skill.scss */
.forge_cont.pc img {
  position: absolute;
  bottom: -14px;
}
/* line 243, ../sass/skill.scss */
.forge_cont.pc p {
  color: white;
  width: 65%;
  float: right;
  font-weight: 100;
  font-size: 17px;
  line-height: 23px;
  padding-top: 17px;
}
/* line 253, ../sass/skill.scss */
.forge_cont.pc a {
  font-weight: 500;
  color: white;
}

/* line 260, ../sass/skill.scss */
.roccat {
  border-radius: 3px;
  padding-bottom: 3px;
  height: 199px;
  background-size: 80px 60px;
  background: url(../assets/images/roccat_bg.jpg) top center;
}
/* line 268, ../sass/skill.scss */
.roccat .forge_cont {
  padding: 10px;
  border: none;
}
/* line 273, ../sass/skill.scss */
.roccat .prize-cont {
  border-radius: 3px;
  overflow: hidden;
  position: relative;
  margin-top: 20px;
}
/* line 280, ../sass/skill.scss */
.roccat .prize-cont p {
  color: white;
  width: 100%;
  height: 40px;
  background: transparent url(../assets/images/opacity_60.png) top center repeat;
  margin-top: -30px;
  display: block;
  position: relative;
  padding-left: 15px;
  padding-top: 8px;
  -webkit-border-bottom-right-radius: 3px;
  -webkit-border-bottom-left-radius: 3px;
  -moz-border-radius-bottomright: 3px;
  -moz-border-radius-bottomleft: 3px;
  border-bottom-right-radius: 3px;
  border-bottom-left-radius: 3px;
  border-bottom: 2px solid white;
  font-weight: 100;
}

/**text image placement**/
/* line 303, ../sass/skill.scss */
.runner_up-img {
  margin-top: 10px;
  display: block;
}

/**end text image placement**/
/* line 313, ../sass/skill.scss */
.small_txt p {
  color: white;
  font-size: 9px;
  text-align: center;
  font-weight: 100;
  margin-bottom: 30px;
  display: block;
}

/* line 323, ../sass/skill.scss */
.alert li {
  list-style: none;
  background-color: #f5dfdf;
  border-color: #FE1002;
  text-align: center;
  font-size: 14px;
  padding: 7px 0px;
  margin-bottom: 10px;
}

/* line 333, ../sass/skill.scss */
.checkbox {
  font-weight: 100;
  font-size: 14px;
}
/* line 337, ../sass/skill.scss */
.checkbox span {
  width: 95%;
  display: block;
  float: right;
  line-height: 18px;
  padding-top: 0px;
}
/* line 344, ../sass/skill.scss */
.checkbox span.astrix {
  width: auto;
  float: none;
  display: inline-block;
}
/* line 350, ../sass/skill.scss */
.checkbox span a {
  color: white;
}

/* line 356, ../sass/skill.scss */
.control-group {
  margin: 15px 0px;
}

/* line 360, ../sass/skill.scss */
.orbit-slide-number, .orbit-timer {
  display: none;
}

/* line 364, ../sass/skill.scss */
.social-btns {
  list-style: none;
}

/* line 369, ../sass/skill.scss */
.thanks #competition {
  padding-top: 25px;
  height: 550px;
}
/* line 374, ../sass/skill.scss */
.thanks #competition img {
  margin: 45px auto;
  display: block;
}
/* line 380, ../sass/skill.scss */
.thanks #competition .return {
  background-image: url(../assets/images/return.png);
  width: 256px;
  height: 54px;
  display: block;
  border: none;
  -moz-box-shadow: 0px 1px 3px 0px #000000;
  -webkit-box-shadow: 0px 1px 3px 0px #000000;
  box-shadow: 0px 1px 3px 0px #000000;
  font-size: 0px;
  line-height: 0px;
  margin: 20px auto;
}
/* line 394, ../sass/skill.scss */
.thanks #competition .play {
  background-image: url(../assets/images/play_btn.png);
  width: 256px;
  height: 54px;
  display: block;
  border: none;
  -moz-box-shadow: 0px 1px 3px 0px #000000;
  -webkit-box-shadow: 0px 1px 3px 0px #000000;
  box-shadow: 0px 1px 3px 0px #000000;
  font-size: 0px;
  line-height: 0px;
  margin: 20px auto;
}

/* line 410, ../sass/skill.scss */
.light_blue {
  color: #B3E2F7;
  font-weight: 500;
}

/* line 415, ../sass/skill.scss */
.astrix {
  color: #e24545;
  font-size: 12px;
  margin-left: 3px;
  line-height: 22px;
}

/* line 422, ../sass/skill.scss */
.req_field-text {
  color: #e24545;
  font-size: 12px;
  margin-left: 30px;
}

/* line 429, ../sass/skill.scss */
.thanks .tandc {
  color: white;
  font-weight: 100;
}
/* line 435, ../sass/skill.scss */
.thanks h4, .thanks h3 {
  text-align: center;
  color: white;
}
